<div class="container">
    <h1>T O R O</h1>
    <ul class="linksList">
      <li><a href="https://www.toroclothing.com.br/">Loja Online</a></li>
      <li><a href="https://api.whatsapp.com/send?phone=5548988183559&text=Ol%C3%A1%2C%20Gostaria%20de%20atendimento.%20enviado%20via%20Link%20Page.">Vendas Loja Estreito</a></li>
      {% comment %} <li><a href="https://api.whatsapp.com/send?phone=5548991096462&text=Ol%C3%A1%2C%20Gostaria%20de%20atendimento.%20enviado%20via%20Link%20Page.">Vendas Loja Palhoça</a></li> {% endcomment %}
      <li><a href="https://chat.whatsapp.com/D8Dp7F7HnaBFyO1o7qQaS7">Grupo V.I.P. TORO</a></li>
      <li><a href="https://wa.me/message/2MU2WOJVLQDNM1">Revenda</a></li>
      <li><a href="https://api.whatsapp.com/send?phone=5548988365752&text=Ol%C3%A1%2C%20Gostaria%20de%20atendimento.%20enviado%20via%20Link%20Page.">Trocas ou Devoluções</a></li>
    </ul>
    <footer>© <strong>TORO CLOTHING</strong> • {{ "now" | date: "%Y" }}<br>Stotz Indústria e Comércio de Confecções LTDA<br>CNPJ: 27.436.984/0001-04</footer>
  </div>